<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="明瑞商城可以购买任何商品，主要经营的有百货，服装，化妆品，儿童用品，书籍，手机，电脑等">
    <meta name="keywords" content="百货，服装，书籍，手机，电脑">
    <title>明瑞商城</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/image/bitbug_favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../static/Css/home/home.css">
    <script type="text/javascript" src="../../static/JS/home/home.js"></script>
    <script type="text/javascript" src="../../static/JS/jquery-3.3.1.min.js"></script>
</head>
<body>
   <div id="shopping">
       <div id="topnab">
           <div class="top">

           </div>
       </div>
       <div id="middlenab">

       </div>
   </div>
</body>
</html>