<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="明瑞商城可以购买任何商品，主要经营的有百货，服装，化妆品，儿童用品，书籍，手机，电脑等">
    <meta name="keywords" content="百货，服装，书籍，手机，电脑">
    <title>明瑞商城</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/bitbug_favicon.ico}"> <!--设置网页图标-->
    <link rel="stylesheet" type="text/css" th:href="@{/Css/home/home.css}">
    <script type="text/javascript" src="@{/JS/home/home.js}"></script>
    <script type="text/javascript" th:src="@{/JS/jquery-3.3.1.min.js}"></script>
</head>
<body>
   <div id="shopping">
       <div id="topnab">
           <div class="top">
                   <ul class="top-toolbar">
                       <li class="on-load"><a href="#" class="onload-important">亲、请登录</a></li>
                       <li class="free-reg"><a href="#">免费注册</a></li>
                       <li>我的购物车</li>
                       <li>收藏夹</li>
                       <li>商品分类</li>
                       <li>联系客服</li>
                       <li>网站导航</li>
                   </ul>
           </div>
       </div>
       <div id="middlenab">
             <div class="middlesearch">
                  <input type="search" class="quickSearch" aria-label="请输入搜索文字">
                  <div class="btnsear"><button class="search-button" type="submit">搜索</button></div>
             </div>
             <div class="middlelists">
                 <div class="middlelists-list">
                     <ul class="middleul">
                         <li class=""><a href="#" class="miao-kill">秒杀</a></li>
                         <li class=""><a href="#" class="free-ticket">优惠券</a></li>
                         <li>vip会员</li>
                     </ul>
                     <span class="spileline"></span>
                     <ul class="middleul">
                         <li>拍卖</li>
                         <li>明瑞时尚</li>
                         <li>明瑞超市</li>
                         <li>明瑞生鲜</li>
                     </ul>
                     <span class="spileline"></span>
                     <ul class="middleul">
                         <li>明瑞金融</li>
                     </ul>
                 </div>
             </div>
       </div>
       <div id="bottom-nab">
           <div class="left-choose-pan">
               <ul class="choose-lan-mu">
                   <li><a href="#">女装</a><span>/</span><a href="#">男装</a><span>/</span><a href="#">内衣</a><span class="span-li-right">></span></li>
                   <li><a href="#">女装</a><span>/</span><a href="#">男装</a><span>/</span><a href="#">内衣</a><span class="span-li-right">></span></li>
                   <li><a href="#">女装</a><span>/</span><a href="#">男装</a><span>/</span><a href="#">内衣</a><span class="span-li-right">></span></li>
                   <li><a href="#">女装</a><span>/</span><a href="#">男装</a><span>/</span><a href="#">内衣</a><span class="span-li-right">></span></li>
                   <li><a href="#">女装</a><span>/</span><a href="#">男装</a><span>/</span><a href="#">内衣</a><span class="span-li-right">></span></li>
                   <li><a href="#">女装</a><span>/</span><a href="#">男装</a><span>/</span><a href="#">内衣</a><span class="span-li-right">></span></li>
                   <li><a href="#">女装</a><span>/</span><a href="#">男装</a><span>/</span><a href="#">内衣</a><span class="span-li-right">></span></li>
                   <li><a href="#">女装</a><span>/</span><a href="#">男装</a><span>/</span><a href="#">内衣</a><span class="span-li-right">></span></li>
                   <li><a href="#">女装</a><span>/</span><a href="#">男装</a><span>/</span><a href="#">内衣</a><span class="span-li-right">></span></li>
                   <li><a href="#">女装</a><span>/</span><a href="#">男装</a><span>/</span><a href="#">内衣</a><span class="span-li-right">></span></li>
                   <li><a href="#">女装</a><span>/</span><a href="#">男装</a><span>/</span><a href="#">内衣</a><span class="span-li-right">></span></li>
               </ul>
           </div>
           <div>

           </div>
           <div>

           </div>
       </div>
   </div>
</body>
</html>